<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Identity Test EJS example</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <!-- The following meta are required by Identity Salesforce-->

        <meta name="salesforce-community" content="https://sandbox-drive-customer-1139-dev-ed-16b5c07758c.cs89.force.com/customers">
        <meta name="salesforce-client-id" content="3MVG9sSN_PMn8tjRW7DqQghuor_g757EsK.gGwGpuKOP1OzBD34pV2J.CHeWMZXTOe_noVOs2DeqCAJRVL1Jl">
        <meta name="salesforce-redirect-uri" content="https://electron-identity.herokuapp.com/_callback">
        <meta name="salesforce-mode" content="modal">
        <meta name="salesforce-target" content="#sign-in-link">
        <meta name="salesforce-save-access-token" content="true">
        <meta name="salesforce-forgot-password-enabled" content="false">
        <meta name="salesforce-login-handler" content="onLogin">
        <meta name="salesforce-logout-handler" content="onLogout">
        
        <title>Demonstration of EJS templating in NodeJS Application</title>

        <!-- STYLESHEETS -->
        <!-- CSS (load bootstrap from a CDN) -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/style.css">
        
        <!-- Salesforce Identity files-->
        <link href="https://sandbox-drive-customer-1139-dev-ed-16b5c07758c.cs89.force.com/customers/servlet/servlet.loginwidgetcontroller?type=css" rel="stylesheet" type="text/css" />
        <script src="https://sandbox-drive-customer-1139-dev-ed-16b5c07758c.cs89.force.com/customers/servlet/servlet.loginwidgetcontroller?type=javascript_widget" async="async" defer="defer"></script>
        
        
    </head>

    <body onload="doTests('both');">
        
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
        
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <span class="glyphicon glyphicon glyphicon-cog"></span>
                        CodePrep.io
                    </a>
                </div>
        
                <ul class="nav navbar-nav pull-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>

                    <li>
      <!--                   <div id="sign-in-link" style="position: absolute; top: 20px;right: 20px;"></div> -->
                        <div id="sign-in-link"></div>
                    </li>

                </ul>
        
            </div>
        </nav>

        

        <section name="jumbotron"  >
            <div class="jumbotron text-center">
                <h1>CodePrep.io Presents</h1>
                <p>Using EJS templating with Node.js</p>
            </div>
        </section>

        <section name="content">
            <div class="container">
                <h2 class="text-center">Sample Data</h2>
                <div class="col-xs-12 col-md-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget iaculis lorem. Fusce elementum magna fringilla ipsum bibendum, vitae consectetur ligula interdum. Sed mauris diam, hendrerit eget suscipit vel, luctus at odio. Etiam pellentesque a metus et pharetra. Praesent dictum, libero id tempor malesuada, erat ex cursus nibh, ac hendrerit massa neque commodo metus. Integer porttitor ante eu varius interdum. Suspendisse quis iaculis erat. Fusce eu nisl id eros tempor posuere. Donec placerat orci orci, ut ultrices neque rutrum in. Nunc dignissim ante et risus rhoncus, vel feugiat mi vestibulum. Aliquam in dictum neque, non vestibulum lorem. Sed imperdiet dolor vitae felis iaculis, id sollicitudin lectus rhoncus. Maecenas ac dolor eget tortor rutrum commodo. Aliquam luctus iaculis mi id semper. Suspendisse sem nisi, convallis at dapibus in, convallis eu neque. Curabitur maximus magna et nulla ullamcorper facilisis.</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget iaculis lorem. Fusce elementum magna fringilla ipsum bibendum, vitae consectetur ligula interdum. Sed mauris diam, hendrerit eget suscipit vel, luctus at odio. Etiam pellentesque a metus et pharetra. Praesent dictum, libero id tempor malesuada, erat ex cursus nibh, ac hendrerit massa neque commodo metus. Integer porttitor ante eu varius interdum. Suspendisse quis iaculis erat. Fusce eu nisl id eros tempor posuere. Donec placerat orci orci, ut ultrices neque rutrum in. Nunc dignissim ante et risus rhoncus, vel feugiat mi vestibulum. Aliquam in dictum neque, non vestibulum lorem. Sed imperdiet dolor vitae felis iaculis, id sollicitudin lectus rhoncus. Maecenas ac dolor eget tortor rutrum commodo. Aliquam luctus iaculis mi id semper. Suspendisse sem nisi, convallis at dapibus in, convallis eu neque. Curabitur maximus magna et nulla ullamcorper facilisis.</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget iaculis lorem. Fusce elementum magna fringilla ipsum bibendum, vitae consectetur ligula interdum. Sed mauris diam, hendrerit eget suscipit vel, luctus at odio. Etiam pellentesque a metus et pharetra. Praesent dictum, libero id tempor malesuada, erat ex cursus nibh, ac hendrerit massa neque commodo metus. Integer porttitor ante eu varius interdum. Suspendisse quis iaculis erat. Fusce eu nisl id eros tempor posuere. Donec placerat orci orci, ut ultrices neque rutrum in. Nunc dignissim ante et risus rhoncus, vel feugiat mi vestibulum. Aliquam in dictum neque, non vestibulum lorem. Sed imperdiet dolor vitae felis iaculis, id sollicitudin lectus rhoncus. Maecenas ac dolor eget tortor rutrum commodo. Aliquam luctus iaculis mi id semper. Suspendisse sem nisi, convallis at dapibus in, convallis eu neque. Curabitur maximus magna et nulla ullamcorper facilisis.</p>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <p class="text-center text-muted">© Copyright 2015 <a href="http://www.codeprep.io">CodePrep.io</a></p>
            </div>
        </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap javascript file -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
         

        <script>
            function onLogin(identity) {
                var targetDiv = document.querySelector(SFIDWidget.config.target);
                var avatar = document.createElement('a');
                 avatar.href = "javascript:showIdentityOverlay();";
                var img = document.createElement('img');
                 img.src = identity.photos.thumbnail;
                img.className = "sfid-avatar";
                var username = document.createElement('span');
                username.innerHTML = identity.username;
                username.className = "sfid-avatar-name";
                var iddiv = document.createElement('div');
                 iddiv.id = "sfid-identity";
                avatar.appendChild(img);
                avatar.appendChild(username);
                iddiv.appendChild(avatar);
                targetDiv.innerHTML = '';
                targetDiv.appendChild(iddiv);
              }
    
              function showIdentityOverlay() {
	
                var lightbox = document.createElement('div'); 
                lightbox.className = "sfid-lightbox";
                lightbox.id = "sfid-login-overlay";
                lightbox.setAttribute("onClick", "SFIDWidget.cancel();");

                var wrapper = document.createElement('div'); 
                wrapper.id = "identity-wrapper";
                wrapper.onclick = function(event) {
                    event = event || window.event // cross-browser event

                    if (event.stopPropagation) {
                        // W3C standard variant
                        event.stopPropagation()
                    } else {
                        // IE variant
                        event.cancelBubble = true
                    }
                }

                var content = document.createElement('div'); 
                content.id = "sfid-content";

                var community = document.createElement('a');
                var commURL = document.querySelector('meta[name="salesforce-community"]').content;
                community.href = commURL;
                community.innerHTML = "Go to the Community";
                community.setAttribute("style", "float:left");
                content.appendChild(community);


                var logout = document.createElement('a'); 
                logout.href = "javascript:SFIDWidget.logout();SFIDWidget.cancel();";
                logout.innerHTML = "logout";
                logout.setAttribute("style", "float:right");
                content.appendChild(logout);

                var t = document.createElement('div'); 
                t.id = "sfid-token";
                t.className = "sfid-mb24";

                var p = document.createElement('pre'); 
                p.innerHTML = JSON.stringify(SFIDWidget.openid_response, undefined, 2);
                t.appendChild(p);

                content.appendChild(t);


                wrapper.appendChild(content);
                lightbox.appendChild(wrapper);

                document.body.appendChild(lightbox);	
		
	}
	
	
	function onLogout() {
            SFIDWidget.init();

            var aero = document.getElementById("aero_link");
            aero.href = "#";
            aero.innerHTML = 'Login for more info';

            var reactor = document.getElementById("reactor_link");
            reactor.href = "#";
            reactor.innerHTML = 'Login for more info';

            var chemex = document.getElementById("chemex_link");
            chemex.href = "#";
            chemex.innerHTML = 'Login for more info';
	
	}
        </script>
        
    </body>

</html>
